.idea
.vscode
vendor
backups/
logs/
components/
node_modules/
composer.phar
sitemap.xml
sitemap.xml.gz
yml-catalog.*
!.htaccess
tmp
package-lock.json
assets/thumbs
assets/uploads
assets/images/catalog/**/*.jpg
assets/images/catalog/**/*.JPG
assets/images/catalog/**/*.jpeg
assets/images/catalog/**/*.gif
assets/images/catalog/**/*.png
