
.import-items {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
	flex: 1;

	&__table {
		flex: 1;
	}
	&__operation {
		flex: 0;
		min-height: 50px;
	}
	&__head {
		flex: 0;
		min-height: 50px;
	}
}