@import "variables";

.catalog-sidebar {
	position: relative;
	top: 0;

	&__marked {
		border: 1px solid $color-green;
		background-color: lighten($color-green, 70%);
		padding: 1em;
		display: none;
		margin-bottom: 1em;
		header {
			font-size: 18px;
			font-weight: 600;
			line-height: 30px;
			height: 30px;
			margin: 2em 0 1em;
			&:first-child {
				margin-top: 0;
			}
		}

		&__button {
			flex: 1;
			white-space: nowrap;
			font-size: 12px;
			transition: all $transition-speed;
			border-radius: 3px;
			padding: 0 1em;
			color: $color-green;
			border: 1px solid $color-green;
			text-transform: uppercase;
			text-decoration: none;
			&:hover,
			&:active {
				background-color: $color-green;
				text-decoration: none;
				color: #fff;
			}
			&-reset {
				border: 1px solid $color-yellow;
				background-color: $color-yellow;
				color: #000;
				&:hover,
				&:active {
					background-color: $color-yellow;
					text-decoration: none;
					color: #000;
				}
			}
		}

	}

	&__widget {
		border: 1px solid $color-yellow;
		background-color: lighten($color-yellow, 50%);
		margin-bottom: 1em;
		padding: 20px;
		font-size: 14px;
		header {
			font-size: 18px;
			font-weight: 600;
			line-height: 30px;
			height: 30px;
			margin: 2em 0 1em;
			&:first-child {
				margin-top: 0;
			}
		}
		&-marked {
			border: 1px solid $color-green;
			background-color: lighten($color-green, 70%);
		}
	}
}